<div class="location">
  <div class="main-header">
    <div (click)="onBack()" class="main-header__logo ion-activatable">
      <img draggable="false" src="assets/icon/back-icon.svg" alt="" />
      <ion-ripple-effect></ion-ripple-effect>
    </div>
    <div
      (click)="onState(!!this.location()?.state?.isPlay)"
      class="main-header__action ion-activatable"
    >
      @if(this.location()?.state?.isPlay) {
      <img draggable="false" src="assets/icon/stop-icon.svg" alt="" />
      } @else {
      <img draggable="false" src="assets/icon/play-icon.svg" alt="" />
      }
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </div>
  <div class="location__top">
    <div class="location__top__info">
      <div class="location__top__info__left">
        <img src="assets/icon/restaurant-icon.svg" alt="" />
      </div>
      <div class="location__top__info__right">
        <span class="location__top__info__right__location">{{
          this.location()?.name
        }}</span>
        @if(this.location()?.address) {
        <div class="location-address">
          <img src="assets/icon/location-icon.svg" alt="" />
          <span>{{ this.location()?.address }}</span>
        </div>
        }
      </div>
    </div>
    <div class="location__top__tabs">
      <div
        (click)="onTab(TabMenuEnum.MENU)"
        [class.location__top__tabs__item--active]="
          currentTab() === TabMenuEnum.MENU
        "
        class="location__top__tabs__item ion-activatable"
      >
        <span> {{ "MENU" | translate }}</span>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <div
        (click)="onTab(TabMenuEnum.HISTORY)"
        [class.location__top__tabs__item--active]="
          currentTab() === TabMenuEnum.HISTORY
        "
        class="location__top__tabs__item ion-activatable"
      >
        <span> {{ "HISTORY" | translate }}</span>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>
  </div>
  <div class="location__content">
    @if(currentTab() === TabMenuEnum.MENU) {
    <div class="menu">
      <div class="menu__add-item">
        <button (click)="onAddItem()" class="ion-activatable">
          {{ "ADD_ITEM" | translate }}
          <ion-ripple-effect></ion-ripple-effect>
        </button>
      </div>
      @if(location()?.items?.length) {
      <div class="menu__items">
        @for (item of location()?.items; track item.name) {
        <ion-item-sliding>
          <ion-item>
            <div class="menu__item">
              <img src="assets/icon/beer-icon.svg" alt="" />
              <div class="menu__item__info">
                <div class="menu__item__info__title">
                  <span>{{ item.name }}</span>
                  <span class="price"
                    >{{ "PRICE" | translate }}: {{ item.price }}</span
                  >
                </div>
                @if (location()?.state?.isPlay){
                <div class="counter">
                  <div
                    (click)="onMinusCounter(item)"
                    class="counter-action ion-activatable"
                  >
                    <img
                      draggable="false"
                      src="assets/icon/minus-green-icon.svg"
                      alt=""
                    />
                    <ion-ripple-effect></ion-ripple-effect>
                  </div>
                  <div class="counter-number">
                    <span>{{ item.counter || 0 }}</span>
                  </div>
                  <div
                    (click)="onPlusCounter(item)"
                    class="counter-action ion-activatable"
                  >
                    <img
                      draggable="false"
                      src="assets/icon/plus-green-icon.svg"
                      alt=""
                    />
                    <ion-ripple-effect></ion-ripple-effect>
                  </div>
                </div>
                }
              </div>
            </div></ion-item
          >
          <ion-item-options>
            <div (click)="onItemEdit(item)" class="edit-item ion-activatable">
              <img draggable="false" src="assets/icon/edit-icon.svg" alt="" />
              <ion-ripple-effect></ion-ripple-effect>
            </div>
          </ion-item-options>
        </ion-item-sliding>
        }
      </div>
      }
    </div>
    } @if(currentTab() === TabMenuEnum.HISTORY) {
    <div class="history">
      <div class="history__items">
        @for (item of history(); track item.createdAt) {
        <div (click)="onHistory(item)" class="history__item ion-activatable">
          <img src="assets/icon/time-icon.svg" alt="" />
          <div class="history__item__info">
            <div class="history__item__info__title">
              <span>{{ item.createdAt | date : "dd.MM.yyyy HH:mm" }}</span>
              <span class="price"
                >{{ "AMOUNT_SPENT" | translate }}: {{ item.totalAmount }}</span
              >
            </div>
          </div>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        } @if (history().length === 0) {
        <span> {{ "ERROR.NO_DATA" | translate }}</span>
        }
      </div>
    </div>
    }
  </div>
</div>
