<div class="add-location">
  <div class="main-header">
    <div class="main-header_left-actions">
      <button (click)="onDismiss()" class="no-border ion-activatable">
        {{ "CANCEL" | translate }}
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </div>
    <div class="main-header__logo">
      <span>{{ "ADD_LOCATION" | translate }}</span>
    </div>
    <div class="main-header_left-actions">
      <button (click)="onDone()" class="no-border ion-activatable">
        {{ "DONE" | translate }}
        <ion-ripple-effect></ion-ripple-effect>
      </button>
    </div>
  </div>
  <div class="add-location__content">
    <input
      [(ngModel)]="location"
      [placeholder]="'LOCATION' | translate"
      type="text"
    />
    <input
      [(ngModel)]="address"
      [placeholder]="'ADDRESS' | translate"
      type="text"
    />
  </div>
</div>
