.add-item {
  height: 100vh;
  background-color: #1a2033;

  .main-header {
    justify-content: space-between;
    padding: unset;

    &__logo {
      flex: 1;
      white-space: nowrap;
      display: flex;
      justify-content: center;
    }

    &__left-actions,
    &__right-actions {
      flex: 1;
      button {
        padding: 0 16px;
        width: fit-content;
      }
    }

    &__right-actions {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
