.home {
  height: 100vh;
  overflow: auto;

  &__content {
    padding: 54px 16px 108px 16px;

    &__locations {
      display: flex;
      flex-direction: column;
      gap: 24px;
    }

    &__location-item {
      position: relative;
      padding: 16px;
      background-color: #1f243b;
      display: flex;
      align-items: center;
      gap: 16px;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      border-bottom: 1px solid transparent;

      &--active {
        border-color: #21bb69;
      }

      span {
        font-size: 18px;
        text-transform: uppercase;
      }

      img {
        width: 28px;
      }
    }
  }
}

.add-location {
  position: fixed;
  bottom: 108px;
  right: 24px;
  background-color: #21bb69;
  width: 60px;
  height: 60px;
  padding: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
}
